<div class="bg-black h-auto py-10 text-white grid grid-cols-5 font-bodyFont">
    <div class="col-span-3">
        <h3 class="footerH">Popular models</h3>
        <% if(cars.length > 0) { %>
        <div class="grid grid-cols-4 gap-5 h-2/3 p-6 pl-10 w-full justify-center items-center ">
            <% for(let i = 0; i< cars.length; i++) { %>
            <a href="/products/<%= cars[i]._id %>">
                <div class="cardFooter">
                    <p>
                        <span><%= cars[i].brand.name  %></span>
                        <span><%= cars[i].model  %></span>
                    </p>
                </div>
            </a>
            <% } %>
        </div>
        <% } else { %>
        <p class="flex justify-center">Database is currently empty.
            When you add some cars to it, first 4 cars will get displayed here</p>
        <% } %>

    </div>
    <div>
        <h3 class="footerH">Featured content</h3>
        <div class="flex flex-col gap-5 mt-10 pl-5">
            <div>
                <p>BMW has a big announcement:</p>
                <a target="_blank" class="aFooter"
                    href="https://www.carwow.co.uk/news/6613/new-bmw-models-coming-soon#gref">Click for
                    more...</a>
            </div>
            <div>
                <p>Check out news from Audi:</p>
                <a class="aFooter" target="_blank"
                    href="https://www.motorauthority.com/news/1142329_new-audi-design-chief-wants-cars-without-superfluous-ornaments">Click
                    for
                    more...</a>
            </div>
            <div>
                <p>Porsche starts the new WEC season:</p>
                <a target="_blank" class="aFooter"
                    href="https://newsroom.porsche.com/en/2024/motorsports/porsche-fia-world-endurance-championship-wec-prologue-qatar-35338.html">Click
                    for
                    more...
                </a>
            </div>
        </div>

    </div>
    <div>
        <h3 class="footerH">Links</h3>
        <div class="py-5 flex flex-col gap-4">
            <a target="_blank" class="flex justify-center" href="https://www.instagram.com/">
                <svg class="w-12" style="color: white" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                        fill="white"></path>
                </svg>
            </a>
            <a target="_blank" class="flex justify-center" href="https://www.youtube.com/">
                <svg class="w-12" style="color: white" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z"
                        fill="white"></path>
                </svg>
            </a>
            <a target="_blank" class="flex justify-center" href="https://play.google.com/store/games?pli=1">
                <svg class="w-12" style="color: white" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        d="M325.3 234.3L104.6 13l280.8 161.2-60.1 60.1zM47 0C34 6.8 25.3 19.2 25.3 35.3v441.3c0 16.1 8.7 28.5 21.7 35.3l256.6-256L47 0zm425.2 225.6l-58.9-34.1-65.7 64.5 65.7 64.5 60.1-34.1c18-14.3 18-46.5-1.2-60.8zM104.6 499l280.8-161.2-60.1-60.1L104.6 499z"
                        fill="white"></path>
                </svg>
            </a>
        </div>
    </div>
</div>