<div class="relative flex justify-center items-center">
    <img class="max-h-index opacity-85 w-full mx-10" src="../img/carImg.jpg" alt="car picture">
    <p class="absolute text-white text-4xl tracking-wider">
        Where your car dreams come true
    </p>
</div>