<nav class="flex gap-5 h-36 justify-between px-20 items-center">
    <h1 class="font-bodyFont font-bold text-3xl tracking-wider underline">
        <%= title %>
    </h1>
    <ul class="flex gap-8 items-center">
        <li class="liNav">ABOUT</li>
        <li class="liNav">PRODUCTS</li>
        <li class="liNav">CONTACT</li>
        <li class="bg-black text-white btn">CART</li>

    </ul>
</nav>