<div class="p-10 w-newsLetter flex flex-col items-center sm:justify-around xs:gap-10  h-newsLetter mx-20">
    <div class="flex flex-col gap-8 items-center">
        <h2 class="font-bodyFont xs:text-xl sm:text-2xl md:text-3xl ">Monthly Newsletter</h2>
        <p class="text-primary text-lg px-16 xs:w-80
        xs:text-sm sm:text-lg sm:w-full md:text-xl ">Sign up to receive updates from
            our shop,
            including new car announcements and upcoming events.</p>
    </div>

    <div class="flex gap-4 sm:flex-row xs:flex-col">
        <input class="p-3 border-2 border-primary" type="text" placeholder="Enter your email...">
        <button class="uppercase btn bg-black text-white xs:w-40 xs:mx-auto">submit</button>
    </div>
</div>