<div class=" p-10 w-newsLetter flex flex-col items-center justify-around  h-newsLetter mx-20">
    <div class="flex flex-col gap-8 items-center">
        <h2 class="font-bodyFont text-3xl">Monthly Newsletter</h2>
        <p class="text-primary text-lg px-16">Sign up to receive updates from our shop,
            including new car announcements and upcoming events.</p>
    </div>

    <div class="flex gap-4">
        <input class="p-3 border-2 border-gray-400" type="text" placeholder="Enter your email...">
        <button class="uppercase btn bg-black text-white">submit</button>
    </div>
</div>