<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DriftDreams</title>
    <link rel="stylesheet" href="/styles/output.css">
</head>

<body>
    <%- include ./partials/nav.ejs  %>
    <div class="mb-20 flex flex-col items-center font-bodyFont">
        <h2 class="text-3xl tracking-wider">About us</h2>
        <div class="flex flex-col gap-5 items-center mt-20">
            <div class="divAbout">
                <h3>Who are we?</h3>
                <p class="text-primary leading-8">Founded in 2010, nestled in the heart of Serbia, our car shop stands
                    as a
                    testament to our passion
                    for automobiles. From humble beginnings to becoming a cornerstone of the automotive community, we've
                    strived to redefine excellence in every aspect of our business.
                    At our core, we are more than just a car shop; we are enthusiasts, dedicated to providing
                    unparalleled service and expertise to our customers. Our team comprises seasoned professionals who
                    share a common love for cars and a commitment to delivering top-notch service.
                    Driven by innovation and a relentless pursuit of quality, we've curated a diverse inventory of
                    vehicles, ranging from sleek sedans to rugged SUVs, catering to every taste and preference. Whether
                    you're a seasoned car aficionado or a first-time buyer, our knowledgeable staff is here to guide you
                    every step of the way.
                    Beyond sales, we pride ourselves on fostering lasting relationships with our clients, ensuring their
                    satisfaction long after they drive off our lot. From routine maintenance to intricate repairs, our
                    state-of-the-art service center is equipped to handle all your automotive needs with precision and
                    care.

                    As we continue our journey, we remain steadfast in our commitment to excellence, integrity, and
                    customer satisfaction. Join us at <span class="text-black">DriftDreams</span> and discover why we're
                    more than just a
                    dealership—we're a driving force in the automotive industry.</p>
            </div>
            <div class="divAbout">
                <h3>What is our goal?</h3>
                <p class="text-primary leading-8">Our goal at is simple yet profound: to redefine the car-buying
                    experience in
                    Serbia.
                    We aim to provide our customers with not only the finest selection of vehicles but also unparalleled
                    service and support throughout their journey with us.
                    From the moment they step into our showroom to long after they drive off the lot, we strive to
                    exceed expectations, earning their trust and loyalty with every interaction.
                    We're committed to creating a seamless and enjoyable car-buying process, one that is transparent,
                    informative, and tailored to each individual's needs and preferences.
                    Ultimately, our goal is to become the go-to destination for automotive enthusiasts and everyday
                    drivers alike, where they can find not just a car, but a partner they can rely on for all their
                    automotive needs.</p>
            </div>
            <div class="divAbout">
                <h3>Where are we located?</h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22774.586467333673!2d19.536657774543762!3d44.47779441996445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475981cb66b7c061%3A0x341b47982c35d7ba!2z0KbQstC10YLRg9GZ0LA!5e0!3m2!1ssr!2srs!4v1708881751760!5m2!1ssr!2srs"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <%- include ./partials/footer.ejs  %>
</body>

</html>