<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/output.css">
</head>

<body>
    <%- include ./partials/nav.ejs  %>
    <p class="pageNotFoundP xs:mt-96 sm:mt-52 lg:mt-32">Page not found!</p>
    <%- include ./partials/footer.ejs  %>
</body>

</html>