<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/styles/output.css">
</head>

<body>
  <% include ./partials/nav.ejs %>
    <% include ./partials/homePageImage.ejs %>
      <p>Our latest products</p>
</body>

</html>