@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn {
    @apply rounded-md cursor-pointer tracking-wider py-3 px-8
}
.btnSm {
    @apply rounded-md cursor-pointer py-3 px-5
}
.liNav {
    @apply text-primary cursor-pointer font-sans tracking-wide hover:text-black
}

.inputContact {
    @apply flex flex-col gap-2 w-96
}

.footerH {
    @apply flex justify-center py-4 font-bodyFont tracking-wider font-bold
}
.cardFooter {
    @apply border-primary border-2 h-16 w-44 flex justify-center items-center mx-auto cursor-pointer hover:bg-white hover:text-black hover:border-none
}

.aFooter{
    @apply flex justify-center font-bold tracking-wider hover:underline
}

.featuredDivFooter {
    @apply flex flex-col gap-4
}
.divAbout {
    @apply w-1/2 flex flex-col items-center gap-5
}

.filterProductsSelect {
    @apply p-3 pr-20 border-2 border-primary 
}
.pageNotFoundP {
    @apply text-4xl flex justify-center my-64
}
.rangeInputFilter {
    -webkit-appearance: none;
    appearance: none; 
    background-color: white;
    width: 13rem;
    border-radius: 20px;
    border: 2px solid black;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px
}
.rangeInputFilter::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px; 
    height: 15px;
    background-color: black; 
    border-radius: 50%; 
    cursor: pointer;
}
.inputNewCar {
    @apply w-72 h-10 border-2 border-primary p-5
}
.inputNewCarDiv {
    @apply flex flex-col gap-2
}
.editCarsButton {
    @apply w-12 bg-black fill-white p-3 cursor-pointer hover:bg-slate-700
}
.messageSuccess {
    @apply duration-500 absolute top-10 bg-green-500 px-20 py-5 rounded-lg 
}
.carDescriptionIndex {
    @apply  xs:p-1 sm:p-4
    w-full lg:p-5 shadow-2xl bg-white
    xs:text-xs sm:text-sm md:text-lg absolute bottom-0
}
.footerPopularModels {
    @apply grid gap-5 h-2/3 p-6 
    pl-10 w-full justify-center items-center xs:grid-cols-1 sm:grid-cols-2
    lg:grid-cols-3 xl:grid-cols-4
    
}
.signInInput {
    @apply border-2
    border-primary px-5 py-2
    xs:w-2/3 lg:w-full
}
@media screen and (min-width: 320px){
    .video {
        width: calc(100% - 2rem);
        margin: auto;
    }
    .signUpMainDiv {
        height: 95%
    }
}
